.cabinet-content {
  display: block;
  flex: 1 0 auto;
  flex-shrink: 1;
}

.cabinet-content__order {
  box-shadow: 0px 0px 20px rgba(30, 34, 37, 0.2);
  border-radius: 8px;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}
