.card-catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(30, 34, 37, 0.2);
  transition: box-shadow 0.6s;
  height: 100%;
  &:hover {
    box-shadow: 0px 0px 30px rgba(30, 34, 37, 0.4);
  }
  > * {
    margin-bottom: 10px;
    @media (max-width: 1279px) {
      margin-bottom: 5px;
    }
  }
}

.card-catalog__wrapper {
  padding: 0 12px;
  height: auto;
  @media (max-width: 1279px) {
    padding: 0 10px;
  }
  @media (max-width: 767px) {
    padding: 0 5px;
  }
  &--mode {
    width: 25%;
    margin-bottom: 30px;
    @media (max-width: 1279px) {
      // margin-bottom: 0;
      width: calc(100% / 6);
    }
    @media (max-width: 1199px) {
      width: calc(100% / 4);
    }
  }
  &--catalog {
    width: calc(100% / 4);
    margin-bottom: 30px;
    @media (max-width: 767px) {
      width: calc(100% / 2);
      margin-bottom: 20px;
    }
  }
  &.hidden {
    display: none;
  }
  &--favorite {
    width: calc(100% / 6 - 12px);
    padding: 0;
    margin-bottom: 40px;
    @media (max-width: 1279px) {
      width: calc(100% / 4 - 10px);
    }
    @media (max-width: 767px) {
      width: calc(100% / 2 - 10px);
    }
  }
}

.card-catalog__favorite {
  position: absolute;
  right: 19px;
  top: 19px;
  &:hover,
  &.active {
    path {
      stroke: #f8acd3;
      fill: #f8acd3;
    }
  }
  @media (max-width: 1279px) {
    right: 14px;
    top: 14px;
  }
  & > * {
    pointer-events: none;
  }
}

.card-catalog__button {
  margin-top: auto;
  margin-bottom: 0;
  &:hover {
    background-color: #f8acd3;
    color: #ffffff;
    border-color: #f8acd3;
    cursor: pointer;
  }
}

.card-catalog__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;
  @media (max-width: 1279px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.card-catalog__price-current {
  font-size: 16px;
  color: #0b0b0b;
  @media (max-width: 1279px) {
    font-size: 14px;
  }
}

.card-catalog__price-old {
  font-size: 12px;
  color: #898989;
  text-decoration: line-through;
  @media (max-width: 1279px) {
    font-size: 14px;
  }
}

.card-catalog__name {
  font-size: 12px;
  color: $colorDarkOpacity;
}

.card-catalog__subtitle {
  font-size: 12px;
  color: #898989;
}

.card-catalog__reviews {
  display: flex;
  align-items: center;
  @media (max-width: 1279px) {
    // flex-direction: column;
    // align-items: flex-start;
  }
  &--mode {
    @media (max-width: 1279px) {
      flex-direction: row;
    }
  }
}

.card-catalog__likes {
  display: flex;
  font-size: 12px;
  color: #898989;
  margin-right: 10px;
  span {
    color: #0b0b0b;
  }
  @media (max-width: 1279px) {
    // margin-bottom: 10px;
  }
}

.card-catalog__numbers {
  color: #898989;
  font-size: 12px;
}

.card-catalog__likes {
  img {
    margin-right: 4px;
    width: 100%;
    max-width: 12px;
    height: 12px;
    flex: 1 0 auto;
  }
}

.card-catalog__picture {
  text-align: center;
  img {
    display: inline;
  }
}

.card-catalog__count {
  display: flex;
  align-items: center;
  margin-top: 30px;
  button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
  }
  span {
    margin: 0 15px;
  }
}
