.feedback {
  & > .container {
    padding: 0;
  }
}

.feedback__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(235, 235, 235, 0.3);
  padding: 60px;
  padding-right: 103px;
  min-height: 382px;
  @media (max-width: 1279px) {
    padding-right: 59px;
    min-height: 329px;
  }
  @media (max-width: 767px) {
    padding: 40px 10px;
  }
}

.feedback__picture {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  img {
    height: 100%;
  }
  @media (max-width: 1279px) {
    left: -150px;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.feedback__title {
  font-size: 46px;
  font-weight: 500;
  margin-bottom: 30px;
  color: rgba(11, 11, 11, 0.9);
  text-transform: uppercase;
  @media (max-width: 1279px) {
    font-size: 36px;
    margin-bottom: 20px;
  }
  @media (max-width: 767px) {
    margin-bottom: 10px;
    font-size: 24px;
  }
}

.feedback__text {
  margin-bottom: 30px;
  p {
    font-size: 16px;
    line-height: 150%;
    @media (max-width: 1279px) {
      font-size: 14px;
    }
  }
}

.feedback__content {
  margin-left: auto;
  max-width: 494px;
  width: 100%;
  flex: 1 0 auto;
  @media (max-width: 1279px) {
    max-width: 433px;
  }
  @media (max-width: 767px) {
    margin-left: 0;
    max-width: 100%;
  }
}

.feedback__button {
  position: relative;
}
