.header {
  padding-top: 35px;
  margin-bottom: 30px;
  @media (max-width: 1279px) {
    margin-bottom: 20px;
  }
  @media (max-width: 767px) {
    padding-top: 20px;
  }
}

.header__logo {
  margin-right: 80px;
  @media (max-width: 1279px) {
    margin-right: 18px;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  @media (max-width: 767px) {
    flex-wrap: wrap;
  }
  .br {
    @media (max-width: 767px) {
      display: block;
      width: 100%;
    }
  }
}

.header__actions {
  display: flex;
  align-items: center;
}

.header__search {
  position: relative;
  max-width: 100%;
  width: 100%;
  flex: 1;
  margin-right: 82px;

  input {
    width: 100%;
    height: 41px;
    border-radius: 8px;
    border: 1px solid #b3b3b3;
    padding: 0 20px;
    padding-right: 110px;
    &::placeholder {
      color: #b3b3b3;
    }
    &:focus {
      outline: none;
    }
    @media (max-width: 1279px) {
      height: 28px;
      font-size: 14px;
    }
    @media (max-width: 767px) {
      height: 31px;
    }
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    color: #898989;
    font-weight: 500;
    background-color: transparent;
    padding: 0;
    border: 1px solid #b3b3b3;
    height: 100%;
    padding: 0 30px;
    font-size: 16px;
    border-radius: 8px;
    letter-spacing: 1px;
    @media (max-width: 1279px) {
      font-size: 14px;
      padding: 0 20px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
    }
    &:hover {
      background-color: #f8acd3;
      color: #ffffff;
      border-color: #f8acd3;
    }
  }
  @media (max-width: 1279px) {
    margin-right: 44px;
  }
  @media (max-width: 767px) {
    order: 2;
    margin-right: 0;
  }
}
