.burger-menu.overlay
    .burger-menu__wrapper 
        img.burger-menu__close(src="img/icons/cross.svg" alt="закрыть меню")
        ul.burger-menu__list
            li
                p.menu-sublist-open 
                    span Каталог
                    img(src="img/icons/arrow.svg" alt="стрелка")
                ul.burger-menu__sublist
                    li
                        a(href="") Распродажа
                    li
                        a(href="") Акции
                    li
                        a(href="") Новинки
                    li
                        a(href="") Хиты продаж
                    li
                        a(href="") Брови
                    li
                        a(href="") Акрил
                    li
                        a(href="") Акригель, полигель
                    li
                        a(href="") Аппараты
                    li
                        a(href="") Аксессуары
                    li
                        a(href="") Аэрография
                    li
                        a(href="") Боры, фрезы, колпачки
                    li
                        a(href="") Гель
                    li
                        a(href="") Гель-лак
                    li
                        a(href="") Дизайн
            li
                a(href="") Акции
            li
                a(href="") Бонусная программа
            li
                a(href="") Доставка
            li
                a(href="") Контакты
            li
                a(href="") Магазины
            li
                a(href="") О нас
