footer.footer 
    .container 
        .footer__logo 
            img(src="img/logo-footer.svg" alt="логотип")
        .footer__wrapper 
            ul.footer__list
                li
                    a(href="about.hmtl") О нас
                li
                    a(href="articles.html") Статьи
                li
                    a(href="delivery.html") Доставка и оплата
                li
                    a(href="main-catalog.html") Каталог
            ul.footer__list
                li
                    a(href="sales.html") Акции
                li
                    a(href="bonus.html") Бонусная программа
                li
                    a(href="lk.html") Личный кабинет
                li
                    a(href="politic.html") Политика конфиденциальности
            ul.footer__list
                li Контакты
                li.footer__address 
                    p Курск, Карла Маркса, 15
                    p Курск, проспект Вячеслава Клыкова, 16
                li 
                    a.footer__address(href="tel:+78005553535") +7 800 555 35 35
                li.footer__social 
                    a.footer__icon(href="/") 
                        img(src="img/icons/inst.svg" alt="инстраграм")
                    a.footer__icon(href="/") 
                        img(src="img/icons/vk.svg" alt="вконтакте")
