doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header.pug

        section.breadcrumbs 
            h2.visually-hidden Навигация
            .container 
                ul.breadcrumbs__list
                    li 
                        a(href="index.html") Главная 
                    li /
                    li 
                        a(href="articles.html") Статьи 
                    li /
                    li 
                        a.breadcrumbs__current Название статьи

        section.article
            .article__banner.container  
                img(src="img/articles/banner-article.jpg" alt="")
            .article__wrapper.container  
                h2.article__title Заголовок новости или статьи
                p.article__short-text Текст новости, точнее краткое содержание статьи и ещё текста для объёма раз, два, три. И ещё раз то же самое: Текст новости, точнее краткое содержание статьи и ещё текста для объёма раз, два, три.
                .article__text 
                    p В рамках спецификации современных стандартов, явные признаки победы институционализации призывают нас к новым свершениям, которые, в свою очередь, должны быть ассоциативно распределены по отраслям. Но явные признаки победы институционализации являются только методом политического участия и подвергнуты целой серии независимых исследований. 
                    p Современные технологии достигли такого уровня, что реализация намеченных плановых заданий предопределяет высокую востребованность экономической целесообразности принимаемых решений. Являясь всего лишь частью общей картины, тщательные исследования конкурентов могут быть ассоциативно распределены по отраслям. Имеется спорная точка зрения, гласящая примерно следующее: базовые сценарии поведения пользователей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут указаны как претенденты на роль ключевых факторов. 
                    p Приятно, граждане, наблюдать, как независимые государства призваны к ответу. Являясь всего лишь частью общей картины, непосредственные участники технического прогресса могут быть объективно рассмотрены соответствующими инстанциями. Новая модель организационной деятельности способствует повышению качества анализа существующих паттернов.
                a(href="/").button-main.article__button Назад



        include modals/modal-feedback.pug
        include modules/burger-menu.pug
        include modules/footer.pug
        include modules/script.pug