doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header.pug

        section.breadcrumbs 
            h2.visually-hidden Навигация
            .container 
                ul.breadcrumbs__list
                    li 
                        a(href="index.html") Главная 
                    li /
                    li 
                        a.breadcrumbs__current Контактная информация

        section.banner
            .container 
                .banner__wrapper
                    .banner__caption
                        h2.banner__title Контактная информация
                        p.banner__subtitle Короткий текст о том как мы всегда рады нашим покупателям
                    .banner__picture 
                        img(src="img/phone2.png" alt="")

        section.address 
            .container
                h2.address__title Адреса магазинов в Курске:
                ul.address__list 
                    li.address__item
                        img(src="img/icons/location.svg" alt="")
                        .address__contant
                            p Пр-кт В. Клыкова, д. 16
                    li.address__item
                        img(src="img/icons/location.svg" alt="")
                        .address__contant
                            p Карла Маркса 17, дом быта, 2 этаж, лестница слева рядом ремонт часов.
                    li.address__item
                        img(src="img/icons/phone.svg" alt="")
                        .address__contant
                            p
                                a(href="tel:+79081217681")  +7 908 121-76-81
                    li.address__item
                        img(src="img/icons/phone.svg" alt="")
                        .address__contant
                            p 
                                a(href="tel:+79513237356") +7 951 323-73-56
                    li.address__item
                        img(src="img/icons/clock.svg" alt="")
                        .address__contant
                            p Режим работы :
                            p Пн-Пт с 10.00-20.00
                            p Сб-Вс с 10.00-19.00
                    li.address__item
                        img(src="img/icons/clock.svg" alt="")
                        .address__contant
                            p Режим работы :
                            p Пн-Пт с 10.00-19.00
                            p Сб-Вс с 10.00-18.00
                    li.address__item
                        img(src="img/icons/mail.svg" alt="")
                        .address__contant
                            p  По общим вопросам и вопросам работы интернет магазина  
                                a(href="mailto:sales@nailprofessional.ru ") sales@nailprofessional.ru 

        section.map 
            h2.visually-hidden Карта
            .container 
                .map__content#map

        section.requisites
            h2.visually-hidden Реквизиты
            .container 
                .requisites__caption.btn-toggle
                    p Реквизиты компании
                    img(src="img/icons/arrow-down.svg" alt="")
                .requisites__content.active
                    .requisites__col
                        .requisites__block 
                            p.requisites__title Nail Professional
                            ul.requisites__list 
                                li
                                    p Улица Пушкина, д. Колотушкина, г. Курск, 123456
                                li
                                    p 
                                        a(href="tel:+79999999999") +7 (999) 999-99-99
                                li
                                    p 
                                        a(href="mailto:mail@mail.su") mail@mail.su
                        .requisites__block 
                            p.requisites__title Служба клиентской поддержки
                            ul.requisites__list 
                                li
                                    p 
                                        a(href="tel:+78005553535") 8 (800) 555-35-35 
                                    p (бесплатный звонок по всей России)

                                li
                                    p Время работы:
                                li 
                                    p пн-вс: 8:00–20:00
                                li
                                    p 
                                        a(href="mailto:support@mail.ru") support@mail.ru
                                li
                                    p *Звонок платный. Стоимость уточняйте у своего оператора.
                    .requisites__col 
                        ul.requisites__list.requisites__list--mode
                            li
                                p.requisites__title Полное наименование
                                p Акционерное общество «ИП ООО»
                            li
                                p.requisites__title Сокращённое наименование
                                p AО «ИП ООО»
                            li
                                p.requisites__title Директор
                                p ФИО
                            li
                                p.requisites__title Банк
                                p Публичное акционерное общество «Сбербанк России» ПАО Сбербанк г. Москва
                            li
                                p.requisites__title Корреспондентский счёт
                                p 1546321654654651651685
                            li
                                p.requisites__title БИК
                                p 1654654165465
                            li
                                p.requisites__title Расчётный счёт
                                p 1544565468464654
                            li
                                p.requisites__title ИНН
                                p 546845462465429841
                            li
                                p.requisites__title КПП
                                p 654154185419
                            li
                                p.requisites__title ОГРН
                                p 54168546841
                            li
                                p.requisites__title Юридический адрес
                                p РФ, 123456, г. Курск, Улица Пушкина, д. Колотушкина, офис 222
                            li
                                p.requisites__title Фактический адрес
                                p РФ, 123456, г. Курск, Улица Пушкина, д. Колотушкина, офис 222





        include modules/burger-menu.pug

        include modules/footer.pug
        include modules/script.pug
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
        script(src="js/ymaps.js")