doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header.pug

        section.breadcrumbs 
            h2.visually-hidden Навигация
            .container 
                ul.breadcrumbs__list
                    li 
                        a(href="index.html") Главная 
                    li /
                    li 
                        a.breadcrumbs__current Доставка и оплата

        section.banner
            .container 
                .banner__wrapper
                    .banner__caption
                        h2.banner__title Доставка и  оплата
                        p.banner__subtitle Интернет-магазин выполняет доставку любого товара своей собственной Службой доставки.
                    .banner__picture 
                        img(src="img/box.png" alt="")

        section.delivery-description 
            h2.visually-hidden Доставка
            .container
                .delivery-description__row
                    p.delivery-description__title Доставка из розничного магазина Nail Professional
                    .delivery-description__text
                        p — При подтверждении заказа с менеджером с 10.00–14.00 доставка осуществляется в этот же день 
                        p — При заказе от 1 000 ₽ доставка по городу бесплатная. 
                        p При заказе крупногабаритного оборудования (педикюрное кресло, маникюрный стол, косметологические кушетки) стоимость доставки без подъёма 200 ₽, подъем мебели на лифте 50 ₽, подъем по лестнице — 50 ₽ за каждый этаж.
                .delivery-description__row
                    p.delivery-description__title Доставка из розничного магазина Nail Professional
                    .delivery-description__text
                        p — При подтверждении заказа с менеджером с 10.00–14.00 доставка осуществляется в этот же день 
                        p — При заказе от 1 000 ₽ доставка по городу бесплатная. 
                        p При заказе крупногабаритного оборудования (педикюрное кресло, маникюрный стол, косметологические кушетки) стоимость доставки без подъёма 200 ₽, подъем мебели на лифте 50 ₽, подъем по лестнице — 50 ₽ за каждый этаж.
                .delivery-description__row
                    p.delivery-description__title Доставка из розничного магазина Nail Professional
                    .delivery-description__text
                        p — При подтверждении заказа с менеджером с 10.00–14.00 доставка осуществляется в этот же день 
                        p — При заказе от 1 000 ₽ доставка по городу бесплатная. 
                        p При заказе крупногабаритного оборудования (педикюрное кресло, маникюрный стол, косметологические кушетки) стоимость доставки без подъёма 200 ₽, подъем мебели на лифте 50 ₽, подъем по лестнице — 50 ₽ за каждый этаж.
                .delivery-description__row
                    p.delivery-description__title Доставка из розничного магазина Nail Professional
                    .delivery-description__text
                        p — При подтверждении заказа с менеджером с 10.00–14.00 доставка осуществляется в этот же день 
                        p — При заказе от 1 000 ₽ доставка по городу бесплатная. 
                        p При заказе крупногабаритного оборудования (педикюрное кресло, маникюрный стол, косметологические кушетки) стоимость доставки без подъёма 200 ₽, подъем мебели на лифте 50 ₽, подъем по лестнице — 50 ₽ за каждый этаж.
                .delivery-description__row
                    p.delivery-description__title Доставка из розничного магазина Nail Professional
                    .delivery-description__text
                        p — При подтверждении заказа с менеджером с 10.00–14.00 доставка осуществляется в этот же день 
                        p — При заказе от 1 000 ₽ доставка по городу бесплатная. 
                        p При заказе крупногабаритного оборудования (педикюрное кресло, маникюрный стол, косметологические кушетки) стоимость доставки без подъёма 200 ₽, подъем мебели на лифте 50 ₽, подъем по лестнице — 50 ₽ за каждый этаж.
                .delivery-description__row
                    p.delivery-description__title Доставка из розничного магазина Nail Professional
                    .delivery-description__text
                        p — При подтверждении заказа с менеджером с 10.00–14.00 доставка осуществляется в этот же день 
                        p — При заказе от 1 000 ₽ доставка по городу бесплатная. 
                        p При заказе крупногабаритного оборудования (педикюрное кресло, маникюрный стол, косметологические кушетки) стоимость доставки без подъёма 200 ₽, подъем мебели на лифте 50 ₽, подъем по лестнице — 50 ₽ за каждый этаж.






        include modules/burger-menu.pug

        include modules/footer.pug
        include modules/script.pug