doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header.pug

        section.breadcrumbs 
            h2.visually-hidden Навигация
            .container 
                ul.breadcrumbs__list
                    li 
                        a(href="index.html") Главная 
                    li /
                    li 
                        a.breadcrumbs__current Избранное

        section.favorite 
            .container 
                h2.favorite__title Избранное
                ul.catalog
                    li.card-catalog__wrapper.card-catalog__wrapper--favorite
                        a.catalog__card.card-catalog(href="/")
                            .card-catalog__picture 
                                img(src="img/catalog/item1.jpg" alt="")
                            .card-catalog__price 
                                span.card-catalog__price-current 10 390 руб.
                            p.card-catalog__name Орли “Вернис”
                            p.card-catalog__subtitle Лак для ногтей
                            .card-catalog__reviews 
                                .card-catalog__likes 
                                    img(src="img/icons/star.svg" alt="")
                                    span 4.8
                                p.card-catalog__numbers 146 отзывов
                            button.card-catalog__button.button-main В корзину
                            <svg class="card-catalog__favorite" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0002 25C-10.9583 8.78886 5.62343 -3.86391 12.7252 2.82887C12.819 2.91687 12.9112 3.00807 13.0002 3.10247C13.0884 3.00816 13.1801 2.91742 13.2752 2.83047C20.3754 -3.86711 36.9588 8.78726 13.0002 25Z" stroke="#898989"/></svg>
                    li.card-catalog__wrapper.card-catalog__wrapper--favorite
                        a.catalog__card.card-catalog(href="/")
                            .card-catalog__picture 
                                img(src="img/catalog/item1.jpg" alt="")
                            .card-catalog__price 
                                span.card-catalog__price-current 10 390 руб.
                                span.card-catalog__price-old 10 555 руб.
                            p.card-catalog__name Орли “Вернис”
                            p.card-catalog__subtitle Лак для ногтей
                            .card-catalog__reviews 
                                .card-catalog__likes 
                                    img(src="img/icons/star.svg" alt="")
                                    span 4.8
                                p.card-catalog__numbers 146 отзывов
                            button.card-catalog__button.button-main В корзину
                            <svg class="card-catalog__favorite" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0002 25C-10.9583 8.78886 5.62343 -3.86391 12.7252 2.82887C12.819 2.91687 12.9112 3.00807 13.0002 3.10247C13.0884 3.00816 13.1801 2.91742 13.2752 2.83047C20.3754 -3.86711 36.9588 8.78726 13.0002 25Z" stroke="#898989"/></svg>

                    li.card-catalog__wrapper.card-catalog__wrapper--favorite
                        a.catalog__card.card-catalog(href="/")
                            .card-catalog__picture 
                                img(src="img/catalog/item1.jpg" alt="")
                            .card-catalog__price 
                                span.card-catalog__price-current 10 390 руб.
                            p.card-catalog__name Орли “Вернис”
                            p.card-catalog__subtitle Лак для ногтей
                            .card-catalog__reviews 
                                .card-catalog__likes 
                                    img(src="img/icons/star.svg" alt="")
                                    span 4.8
                                p.card-catalog__numbers 146 отзывов
                            button.card-catalog__button.button-main В корзину
                            <svg class="card-catalog__favorite" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0002 25C-10.9583 8.78886 5.62343 -3.86391 12.7252 2.82887C12.819 2.91687 12.9112 3.00807 13.0002 3.10247C13.0884 3.00816 13.1801 2.91742 13.2752 2.83047C20.3754 -3.86711 36.9588 8.78726 13.0002 25Z" stroke="#898989"/></svg>
                    li.card-catalog__wrapper.card-catalog__wrapper--favorite
                        a.catalog__card.card-catalog(href="/")
                            .card-catalog__picture 
                                img(src="img/catalog/item1.jpg" alt="")
                            .card-catalog__price 
                                span.card-catalog__price-current 10 390 руб.
                                span.card-catalog__price-old 10 555 руб.
                            p.card-catalog__name Орли “Вернис”
                            p.card-catalog__subtitle Лак для ногтей
                            .card-catalog__reviews 
                                .card-catalog__likes 
                                    img(src="img/icons/star.svg" alt="")
                                    span 4.8
                                p.card-catalog__numbers 146 отзывов
                            button.card-catalog__button.button-main В корзину
                            <svg class="card-catalog__favorite" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0002 25C-10.9583 8.78886 5.62343 -3.86391 12.7252 2.82887C12.819 2.91687 12.9112 3.00807 13.0002 3.10247C13.0884 3.00816 13.1801 2.91742 13.2752 2.83047C20.3754 -3.86711 36.9588 8.78726 13.0002 25Z" stroke="#898989"/></svg>

                    li.card-catalog__wrapper.card-catalog__wrapper--favorite
                        a.catalog__card.card-catalog(href="/")
                            .card-catalog__picture 
                                img(src="img/catalog/item1.jpg" alt="")
                            .card-catalog__price 
                                span.card-catalog__price-current 10 390 руб.
                            p.card-catalog__name Орли “Вернис”
                            p.card-catalog__subtitle Лак для ногтей
                            .card-catalog__reviews 
                                .card-catalog__likes 
                                    img(src="img/icons/star.svg" alt="")
                                    span 4.8
                                p.card-catalog__numbers 146 отзывов
                            button.card-catalog__button.button-main В корзину
                            <svg class="card-catalog__favorite" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0002 25C-10.9583 8.78886 5.62343 -3.86391 12.7252 2.82887C12.819 2.91687 12.9112 3.00807 13.0002 3.10247C13.0884 3.00816 13.1801 2.91742 13.2752 2.83047C20.3754 -3.86711 36.9588 8.78726 13.0002 25Z" stroke="#898989"/></svg>
                    li.card-catalog__wrapper.card-catalog__wrapper--favorite
                        a.catalog__card.card-catalog(href="/")
                            .card-catalog__picture 
                                img(src="img/catalog/item1.jpg" alt="")
                            .card-catalog__price 
                                span.card-catalog__price-current 10 390 руб.
                                span.card-catalog__price-old 10 555 руб.
                            p.card-catalog__name Орли “Вернис”
                            p.card-catalog__subtitle Лак для ногтей
                            .card-catalog__reviews 
                                .card-catalog__likes 
                                    img(src="img/icons/star.svg" alt="")
                                    span 4.8
                                p.card-catalog__numbers 146 отзывов
                            button.card-catalog__button.button-main В корзину
                            <svg class="card-catalog__favorite" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0002 25C-10.9583 8.78886 5.62343 -3.86391 12.7252 2.82887C12.819 2.91687 12.9112 3.00807 13.0002 3.10247C13.0884 3.00816 13.1801 2.91742 13.2752 2.83047C20.3754 -3.86711 36.9588 8.78726 13.0002 25Z" stroke="#898989"/></svg>

                    li.card-catalog__wrapper.card-catalog__wrapper--favorite
                        a.catalog__card.card-catalog(href="/")
                            .card-catalog__picture 
                                img(src="img/catalog/item1.jpg" alt="")
                            .card-catalog__price 
                                span.card-catalog__price-current 10 390 руб.
                            p.card-catalog__name Орли “Вернис”
                            p.card-catalog__subtitle Лак для ногтей
                            .card-catalog__reviews 
                                .card-catalog__likes 
                                    img(src="img/icons/star.svg" alt="")
                                    span 4.8
                                p.card-catalog__numbers 146 отзывов
                            button.card-catalog__button.button-main В корзину
                            <svg class="card-catalog__favorite" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0002 25C-10.9583 8.78886 5.62343 -3.86391 12.7252 2.82887C12.819 2.91687 12.9112 3.00807 13.0002 3.10247C13.0884 3.00816 13.1801 2.91742 13.2752 2.83047C20.3754 -3.86711 36.9588 8.78726 13.0002 25Z" stroke="#898989"/></svg>
                    li.card-catalog__wrapper.card-catalog__wrapper--favorite
                        a.catalog__card.card-catalog(href="/")
                            .card-catalog__picture 
                                img(src="img/catalog/item1.jpg" alt="")
                            .card-catalog__price 
                                span.card-catalog__price-current 10 390 руб.
                                span.card-catalog__price-old 10 555 руб.
                            p.card-catalog__name Орли “Вернис”
                            p.card-catalog__subtitle Лак для ногтей
                            .card-catalog__reviews 
                                .card-catalog__likes 
                                    img(src="img/icons/star.svg" alt="")
                                    span 4.8
                                p.card-catalog__numbers 146 отзывов
                            button.card-catalog__button.button-main В корзину
                            <svg class="card-catalog__favorite" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0002 25C-10.9583 8.78886 5.62343 -3.86391 12.7252 2.82887C12.819 2.91687 12.9112 3.00807 13.0002 3.10247C13.0884 3.00816 13.1801 2.91742 13.2752 2.83047C20.3754 -3.86711 36.9588 8.78726 13.0002 25Z" stroke="#898989"/></svg>

                    li.card-catalog__wrapper.card-catalog__wrapper--favorite
                        a.catalog__card.card-catalog(href="/")
                            .card-catalog__picture 
                                img(src="img/catalog/item1.jpg" alt="")
                            .card-catalog__price 
                                span.card-catalog__price-current 10 390 руб.
                            p.card-catalog__name Орли “Вернис”
                            p.card-catalog__subtitle Лак для ногтей
                            .card-catalog__reviews 
                                .card-catalog__likes 
                                    img(src="img/icons/star.svg" alt="")
                                    span 4.8
                                p.card-catalog__numbers 146 отзывов
                            button.card-catalog__button.button-main В корзину
                            <svg class="card-catalog__favorite" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0002 25C-10.9583 8.78886 5.62343 -3.86391 12.7252 2.82887C12.819 2.91687 12.9112 3.00807 13.0002 3.10247C13.0884 3.00816 13.1801 2.91742 13.2752 2.83047C20.3754 -3.86711 36.9588 8.78726 13.0002 25Z" stroke="#898989"/></svg>
                    li.card-catalog__wrapper.card-catalog__wrapper--favorite
                        a.catalog__card.card-catalog(href="/")
                            .card-catalog__picture 
                                img(src="img/catalog/item1.jpg" alt="")
                            .card-catalog__price 
                                span.card-catalog__price-current 10 390 руб.
                                span.card-catalog__price-old 10 555 руб.
                            p.card-catalog__name Орли “Вернис”
                            p.card-catalog__subtitle Лак для ногтей
                            .card-catalog__reviews 
                                .card-catalog__likes 
                                    img(src="img/icons/star.svg" alt="")
                                    span 4.8
                                p.card-catalog__numbers 146 отзывов
                            button.card-catalog__button.button-main В корзину
                            <svg class="card-catalog__favorite" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0002 25C-10.9583 8.78886 5.62343 -3.86391 12.7252 2.82887C12.819 2.91687 12.9112 3.00807 13.0002 3.10247C13.0884 3.00816 13.1801 2.91742 13.2752 2.83047C20.3754 -3.86711 36.9588 8.78726 13.0002 25Z" stroke="#898989"/></svg>

                    li.card-catalog__wrapper.card-catalog__wrapper--favorite
                        a.catalog__card.card-catalog(href="/")
                            .card-catalog__picture 
                                img(src="img/catalog/item1.jpg" alt="")
                            .card-catalog__price 
                                span.card-catalog__price-current 10 390 руб.
                            p.card-catalog__name Орли “Вернис”
                            p.card-catalog__subtitle Лак для ногтей
                            .card-catalog__reviews 
                                .card-catalog__likes 
                                    img(src="img/icons/star.svg" alt="")
                                    span 4.8
                                p.card-catalog__numbers 146 отзывов
                            button.card-catalog__button.button-main В корзину
                            <svg class="card-catalog__favorite" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0002 25C-10.9583 8.78886 5.62343 -3.86391 12.7252 2.82887C12.819 2.91687 12.9112 3.00807 13.0002 3.10247C13.0884 3.00816 13.1801 2.91742 13.2752 2.83047C20.3754 -3.86711 36.9588 8.78726 13.0002 25Z" stroke="#898989"/></svg>
                    li.card-catalog__wrapper.card-catalog__wrapper--favorite
                        a.catalog__card.card-catalog(href="/")
                            .card-catalog__picture 
                                img(src="img/catalog/item1.jpg" alt="")
                            .card-catalog__price 
                                span.card-catalog__price-current 10 390 руб.
                                span.card-catalog__price-old 10 555 руб.
                            p.card-catalog__name Орли “Вернис”
                            p.card-catalog__subtitle Лак для ногтей
                            .card-catalog__reviews 
                                .card-catalog__likes 
                                    img(src="img/icons/star.svg" alt="")
                                    span 4.8
                                p.card-catalog__numbers 146 отзывов
                            button.card-catalog__button.button-main В корзину
                            <svg class="card-catalog__favorite" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0002 25C-10.9583 8.78886 5.62343 -3.86391 12.7252 2.82887C12.819 2.91687 12.9112 3.00807 13.0002 3.10247C13.0884 3.00816 13.1801 2.91742 13.2752 2.83047C20.3754 -3.86711 36.9588 8.78726 13.0002 25Z" stroke="#898989"/></svg>




        include modals/modal-feedback.pug
        include modules/burger-menu.pug
        include modules/footer.pug
        include modules/script.pug