.overlay#modal-login
    .modal.modal--mode
        .modal__closed.modal__closed--mode
            img(src="img/icons/cross.svg" alt="")
        h2.modal__title.title Введите свой Email и пароль 
        form.modal__form.modal__form--mode
            p
                input(type="text" placeholder="Email")
            p
                input(type="text" placeholder="Пароль")
            button.button-main.modal__button(type="submit") Войти
            button.modal__forgot.forgotPassword Забыли пароль?