.overlay#modal-confirm
    .modal.modal__confirm
        .modal__picture
            img(src="img/icons/confirm-mail.svg" alt="")
        h2.modal__title.title Сообщение отправлено
        p.modal-confirm__text Менеждер ответит на указанный вами email адрес в течении рабочего дня