.overlay#modal-repair
    .modal.modal__repair
        .modal__closed.modal__closed--mode
            img(src="img/icons/cross.svg" alt="")
        h2.modal__title.title Введите новый пароль
        form.modal__form.modal__form--repair
            p
                input(type="text" placeholder="Введите новый пароль")
            p
                input(type="text" placeholder="Повторите новый пароль")
            button.button-main.modal__button(type="submit") Сохранить