.overlay#modal-enter
    .modal.modal__enter
        .modal__closed 
            img(src="img/icons/cross.svg" alt="")
        h2.modal__title.title Оцените товар
        p.modal__enter-text Войдите или <a href="/">зарегистрируйтесь</a>, <br> чтобы оценить товар
        .modal__buttons 
            button.button-main Войти
            button.button-main Регистрация