.overlay#modal-register
    .modal.modal__register
        .modal__closed.modal__closed--mode
            img(src="img/icons/cross.svg" alt="")
        h2.modal__title.title Регистрация
        form.modal__form.modal__form--register
            p
                input(type="text" placeholder="Имя")
            p
                input(type="text" placeholder="Email")
            p
                input(type="text" placeholder="Введите пароль")
            p
                input(type="text" placeholder="Повторите пароль")
            button.button-main.modal__button(type="submit") Зарегистрироваться
            button.modal__forgot.forgotPassword Забыли пароль?