.overlay#modal-order
    .modal.modal__order
        .modal__picture
            img(src="img/icons/confirm-mail.svg" alt="")
        h2.modal__title.title Заказ № 56 успешно <br> создан
        p.modal__order-text Сейчас вы будете перенаправлены на страницу оплаты Яндекс.Касса
        a.modal__order-button.button-main(href="/") Перейти на страницу оплаты